<%- include('./partials/head'); -%>

<section class="dndRulesHolder">
  <h2>Dnd rules</h2>
  <div class="rules">

  </div>
</section>

<section class=" transition chat_holder">
  <ul id="messages" class="borderRadius"></ul>
  <form id="form" class="borderRadius" action="">
    <input class="borderRadius" id="m" autocomplete="off" />
    <button class="borderRadius" id="button">Send</button>
  </form>
</section>

<section class="spelllistHolder">
  <h2>Spell list</h2>
  <input list="spellsList" name="spellList">
  <datalist id="spellsList">
    <!-- removes the value for now -->
    <% for(var i = 0;  i < spells.length; i++) { %>
      <option><%= spells[i]["name"]%></option>
      <% } %>
  </datalist>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="/js/socketScript.js"></script>
<%- include('./partials/footer'); -%>
